FrontBundle\Entity\Torrent:
    type: entity
    table: torrent
    repositoryClass: FrontBundle\Repository\TorrentRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        idT411:
            type: integer
            unique: true
            column: id_t411
            nullable: true
        idTransmission:
            type: integer
            unique: true
            column: id_transmission
        name:
            type: string
            length: 255
        category:
            type: string
            length: 255
    manyToOne:
        user:
            targetEntity: FrontBundle\Entity\User
            joinColumn:
                name: id_user
                referencedColumName: id
                onDelete: CASCADE
        status:
            targetEntity: FrontBundle\Entity\Status
            joinColumn:
                name: id_status
                referencedColumName: id
    lifecycleCallbacks: {  }
