# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    api:
        class: FrontBundle\Service\Api
    html:
        class: FrontBundle\Service\Html
    transmission:
        class: FrontBundle\Service\Transmission
    torrent:
        class: FrontBundle\Service\Torrent
