{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="page-header">
            <h1>
                {% block page_title %}
                    {{ 'Torrents' }}
                {% endblock %}
            </h1>
        </section>
        <section class="page-navigation">
            <nav>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </nav>
        </section>
        <section class="page-content">
            {% block content %}{% endblock %}
        </section>
    </div>
{% endblock %}