html {
    overflow: hidden;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    background: #b4a796; /* Old browsers */
    background: -moz-linear-gradient(top, #b4a796 0%, #b4a796 37%, #b4a796 38%, #b4a796 38%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b4a796 0%, #b4a796 37%, #b4a796 38%, #b4a796 38%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b4a796 0%, #b4a796 37%, #b4a796 38%, #b4a796 38%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4a796', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    overflow: auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 14px;
    margin-top: 0;
    text-transform: uppercase;
    color: #461f24;
    font-weight: bold;
    border-bottom: 2px solid #b4a796;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

a {
    color: #461f24;
}

header {
    background-image: url('../images/background.jpg');
    background-position: center 0;
    background-color: #b4a796;
    background-repeat: no-repeat;
}

header.page-header {
    padding-bottom: 0;
    margin-top: 0;
    height: 250px;
    border-bottom: 0;
}

header #top-bar {
    margin-bottom: 10px;
    height: 40px;
    background: #461f24;
}

nav .nav-tabs {
    border-bottom: 0;
}

#main-container {
    margin-top: -30px;
}

#main-container .section {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px #b4a796, -3px 0px 3px #b4a796;
}

footer {
    margin-top: 20px;
}

table {
    font-size: 13px;
}

.table {
    margin-bottom: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.fixed-table-container {
    border: 0;
}

.fixed-table-container thead th {
    border-left: 0;
}

.fixed-table-container tbody td {
    border-left: 0;
    vertical-align: middle;
}

.fixed-table-container tbody td i {
    vertical-align: text-top;
}

.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fixed-table-container thead th .sortable {
    /*padding-right: 0;*/
}

.progress {
    margin-bottom: 0;
}

#login-form {
    padding-top: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-radius: 0;
    background-color: #b4a796;
    border: 1px solid #b4a796;
    color: #461f24;
}

.nav-tabs > li > a {
    color: white;
    padding: 9px 15px;
}

.nav > li > a:focus {
    background: #461f24;
    border-color: #461f24;
}

.nav > li > a:hover {
    border-color: #b4a796;
    background: #b4a796;
    border-radius: 0;
    color: #461f24;
}

#search-form {
    margin-bottom: 10px;
}

.user-info {
    padding: 10px 0;
    color: white;
}

.user-info a {
    color: white;
}

.user-info img {
    margin-left: 10px;
}

.modal-content {
    /*background: #f4f0eb;*/
}

@media (min-width: 1200px) {
    .container {
        /*width: 1400px;*/
    }
}

@media (max-width: 767px) {

    header.page-header {
        height: 180px;
    }

    #main-container {
        border-radius: 0;
        min-height: 0;
    }

    .table-responsive {
        border: 0;
    }

    .table-responsive thead {
        display: none;
    }

    .table-responsive tr {
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid #461f24;
        padding-bottom: 10px;
    }

    .table-responsive > tbody > tr > td {
        border: 0;
    }

    .table-responsive .inline-block {
        display: inline-block;
    }

    .table-responsive .pull-right-mobile {
        float: right;
    }
}

.glyphicon-refresh-animate {
    -animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}