header.page-header {
    padding-bottom: 0;
}

nav .nav-tabs {
    border-bottom: 0;
}

footer {
    margin-top: 20px;
}

table {
    font-size: 13px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.fixed-table-container {
    border: 0;
}

.fixed-table-container thead th {
    border-left: 0;
}

.fixed-table-container tbody td {
    border-left: 0;
    vertical-align: middle;
}

.fixed-table-container tbody td i {
    vertical-align: text-top;
}

.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fixed-table-container thead th .sortable {
    padding-right: 0;
}

.progress {
    margin-bottom: 0;
}